/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:before,*:after{
    box-sizing: inherit;
}


/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/


body{
    background: repeat url(../images/fond/global.png);
    font: 400 1rem "Oranienbaum";
    color: #fff;
}
a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    color: darkorange;
}



/*------------------------------------------------------------------------------
   Modules
------------------------------------------------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */





/*---------------------------------------
                header
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */





/*---------------------------------------
                Section Générale
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */




/*---------------------------------------
                Section sports
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */





/*---------------------------------------
                Section web
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */







/*---------------------------------------
             Section photographie
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */



/*---------------------------------------
    Icône retour
---------------------------------------*/


