/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/

html{
    box-sizing: border-box;
    
}

*,*:before,*:after{
    box-sizing: inherit;
}


/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/


body{
    background: repeat url(../images/fond/global.png) #000;
    font: 400 1rem "Oranienbaum" ;
    color: #fff;
}
a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    color: darkorange;
}

h1{
    font: 6.25rem "Monoton", "Roboto";
}
h2{
    font: 2rem "Monoton", "Roboto";
    margin: 0;
    text-transform: uppercase;
}

/*------------------------------------------------------------------------------
   Modules
------------------------------------------------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */



/*---------------------------------------
                header
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */

header, section{
min-height: 100vh;

}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
header a{
    position: absolute;
    left: calc(50% - 75px);
    bottom: 40px;
}
/*---------------------------------------
                Section Générale
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */

section{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

h2 span{
    font: 1.063rem "Oranienbaum", "Roboto";
    text-transform: none;
}

div.images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
div.images a{
    width: 200px;
    margin: 10px 0;
    text-align: center;
}
div.images a img{
    width: 100%;
    margin-bottom: 10px;
}

/*---------------------------------------
                Section sports
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */

section.sports {
    background: url(../images/fond/bicycles.png);
}



/*---------------------------------------
                Section web
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */

div.boite{
    width: 800px;
    padding: 48px;
    background: rgba(0,0, 0, 0.8);
    border-radius: 10px;
}

section.web{
    background: url(../images/fond/science.png) ;
   
}

section.web a img{
    width: 50%;
}
section.web div.images a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.web div.images{
    margin-bottom: 50px;
}
section.web .lien_float{
    background: darkred;
    padding: 10px;
    text-align: center;
}
/*---------------------------------------
             Section photographie
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */



/*---------------------------------------
    Icône retour
---------------------------------------*/


